<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" verbose="1" parallel="tests" thread-count="2">
    <test name="Simple Test"   >
        
        <groups>
            <run>
                <include name="Group1"/>
            </run>
        </groups>
    <classes>
        <class name="lesson2.SimpleTest"/>
    </classes>
    </test>
</suite>
